body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  position: relative;
  min-height: 100vh;
}

/** HEADER SECTION **/
.header-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-heading {
  color: var(--primary-color);
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 5px;
  animation: appear 2s alternate-reverse 1;
}

#main-title {
  color: var(--horizontal-line);
  text-align: center;
  font-size: 1.125rem;
  margin-top: 5px;
  margin-bottom: 5px;
  animation: appear 2s alternate-reverse 1;
}

@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#main-subheading {
  font-size: 1.125rem;
  color: var(--secondary-color);
}

.publications-link,
.portfolio-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.publications-link:hover,
.portfolio-link:hover {
  cursor: pointer;
  font-weight: 600;
}

/** RESPONSIVE DESIGN - DESKTOP **/
@media screen and (min-width: 1000px) {
  #main-heading {
    font-size: 3rem;
  }

  #main-title,
  #main-subheading {
    font-size: 1.5rem;
  }
}
