body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  background-color: var(--background);
  position: relative;
  min-height: 100vh;
}

/** HEADER SECTION **/
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.125em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#portfolio-heading {
  color: var(--primary-color);
  font-size: 3.75rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

#portfolio-subheading {
  font-size: 1.875rem;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

/** PORTFOLIO SECTION **/
.portfolio-container {
  margin-top: 3.125em;
  padding-left: 15px;
  padding-right: 15px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--horizontal-line);
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  margin-top: 3.125em;
  margin-bottom: 3.125em;;
}

.project-img {
  max-width: 55%;
  height: auto;
}

.project-link {
  text-decoration: none;
}

.project-name {
  font-family: "VT323", monospace;
  color: var(--primary-color);
  margin-bottom: 0;
}

.project-description,
.project-technologies {
  color: var(--secondary-color);
}

.project-technologies {
  font-weight: 600;
}

.repository-btn {
  border-radius: 25px;
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.125rem;
}

.repository-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

/** NAVIGATION SECTION **/
.navigation-container {
  margin-top: 3.125em;
  padding-bottom: 6rem;
  text-align: center;
  font-size: 1.125rem;
}

.homepage-link {
  text-decoration: none;
  color: var(--primary-color);
}
.homepage-link:hover {
  cursor: pointer;
  color: var(--primary-color-hover);
}

/** FOOTER SECTION **/
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 6.25em;
  text-align: center;
  font-size: 1.125rem;
  background-color: #000000;
  overflow: hidden;
}

#copyright {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
}

/** RESPONSIVE DESIGN - DESKTOP **/
@media screen and (min-width: 1000px) {
  .portfolio-container {
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .project {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-img {
    max-width: 75%;
    height: auto;
  }

  .project-name {
    font-size: 1.875rem;
  }

  .project-description,
  .project-technologies,
  .repository-btn {
    font-size: 1.5rem;
  }

  .homepage-link {
    font-size: 1.5rem;
  }

  #copyright {
    font-size: 1.5rem;
  }
}
