* {
  --primary-color: #96a38e;
  --secondary-color: #a39e8e;
  --contrast-white: #ffffff;
  --contrast-black: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  background-color: var(--contrast-black);
  color: var(--contrast-white);
  position: relative;
  min-height: 100vh;
}

/** BLOG HEADER SECTION **/
.post-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.125em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#post-heading {
  color: var(--primary-color);
  font-size: 3.75rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

#post-subheading {
  font-size: 1.875rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

#post-date {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-top: 10px;
}

/** BLOG CONTENT SECTION **/
.blog-content-container {
  margin-top: 3.125em;
  padding-left: 15px;
  padding-right: 15px;
}

.content-subheading {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.content-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.content-image {
  max-width: 100%;
}

.content-link {
  color: #ffffff;
  text-decoration-style: dotted;
}

.content-list {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

code {
  font-size: 1.125rem;
}

.inline-code {
  background-color: #3e3e3e;
}

/** NAVIGATION SECTION **/
.navigation-container {
  margin-top: 3.125em;
  padding-bottom: 6rem;
  text-align: center;
  font-size: 1.125rem;
}

.homepage-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.homepage-link:hover {
  cursor: pointer;
  color: #ffffff;
}

/** FOOTER SECTION **/
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 6.25em;
  text-align: center;
  font-size: 1.125rem;
  background-color: #000000;
  overflow: hidden;
}

#copyright {
  margin-top: 5px;
  margin-bottom: 5px;
}

/** RESPONSIVE DESIGN - DESKTOP **/
@media screen and (min-width: 1000px) {
  .blog-content-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .content-subheading {
    font-size: 1.875rem;
  }

  .content-text {
    font-size: 1.5rem;
  }

  .content-list {
    font-size: 1.5rem;
  }

  code {
    font-size: 1.5rem;
  }

  .homepage-link {
    font-size: 1.5rem;
  }

  #copyright {
    font-size: 1.5rem;
  }
}
